data
data2
summer_2023
# test data
test
test_old
# Consolidated test data
test_con

# Can't remove it for now

species_examples
species_examples2

*.pt* 
# this used to exclude any .pt file that was just saved into a model_states folder with all the files per experiment, we'll keep the old ones there
# .pt files that just got overwritten each time you ran the model
# Ignoring all files within the 'all_model_states' folder
all_model_states/
predicted_images/
predicted_images3/
predicted_images4/
predicted_images5/
model_histograms/unknown/
val_images/
test_images/
