data
data2
*.pt* 
# this used to exclude any .pt file that was just saved into a model_states folder with all the files per experiment, we'll keep the old ones there
# .pt files that just got overwritten each time you ran the model
# Ignoring all files within the 'all_model_states' folder
all_model_states/